* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*los botones de arriba del todo(inicio)*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #181818; /* Color de fondo del encabezado */
    padding: 10px 0; /* Espacio arriba y abajo del encabezado */
}

header ul {
    display: flex; /* Configura el ul como un contenedor flex */
    flex-direction: row; /* Alinea los elementos en una fila */
    justify-content: space-around; /* Espacio igual entre los elementos */
    margin: 0; /* Elimina el margen por defecto del ul */
    padding: 0; /* Elimina el padding por defecto del ul */
    list-style-type: none; /* Elimina los puntos de la lista */
    width: 100%; /* Asegura que el ul ocupe el ancho completo del contenedor */
}

header li {
    background-color: #AE946D; /* Color de fondo de los elementos li */
    padding: 10px 20px; /* Espacio dentro de cada elemento li */
    border-radius: 20px; /* Esquinas redondeadas de los elementos li */
    margin: 0 10px; /* Espacio entre los elementos li */
}

header a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: white; /* Color del texto de los enlaces */
}

header h1 {
    margin: 0; /* Elimina el margen por defecto del h1 */
    font-size: 1rem; /* Tamaño de fuente del h1 */
    text-align: center; /* Centra el texto dentro del h1 */
}
/*los botones de arriba del todo(fin)*/
body {
    font-family: 'Space Grotesk', sans-serif;
    padding-top: 80px;
    color: #ffffff  ;
    background-color: #181818 ;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
    color: #ffffff  ;
}

img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 70px;

    width: 100%;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto 45px auto;
    width: 90%;
    flex-wrap: wrap;
    gap: 40px;
}

.contenedor>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #AE946D ;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    flex-direction: column;
    padding-top: 35px;
    gap: 25px;
    flex: 1 1 300px;
}

.contenedor>div>form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contenedor>div>form>input,
select {
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: black;
}
option{
    color: black;
}

textarea{
    resize: none;
    color: #141C29;
}

.contenedor .button {
    margin-top: 20px;
    height: 30px;
    border-radius: 7px;
    border: none;
    color: black;
}

.contenedorProductos h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 40px;
    color: #141C29;
}

.mostrarProductos {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.mostrarProductos>div {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #181714;
    border-radius: 20px;
}

.informacion {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.informacion>p:first-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.informacion .precio {
    font-size: 20px;
    font-weight: 500;
}

.descrip{
    width: 90%;
    max-width: 300px;
    height: 90%;
    max-height: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: auto;
}

/* Personalizar la barra de desplazamiento*/
.descrip::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
    height: 5px;
}

.descrip::-webkit-scrollbar-track {
    background: #292514; /* Color del fondo del track */
    border-radius: 10px;
}

.descrip::-webkit-scrollbar-thumb {
    background: #ffffff7a;; /* Color de la barra */
    border-radius: 10px;
}

.descrip::-webkit-scrollbar-thumb:hover {
    background: #ffffff; /* Color de la barra al pasar el mouse */
}


.contenedorMensaje {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    height: 70px;
}

.repetidoError,
.realizado,
.llenarCampos,
.noExsiteError {
    margin: 15px 0px;
}

.llenarCampos::after,
.noExsiteError::after,
.repetidoError::after,
.realizado::after {
    background-color: red;
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
}

.realizado::after {
    content: 'Realizado';
    background-color: green;
}

.repetidoError::after {
    content: 'Este elemento ya existe';
}

.llenarCampos::after {
    content: 'Por favor compruebe que todos los campos estan llenos';
}

.noExsiteError::after {
    content: 'Este elemento no existe';
}
