body {
    font-family: 'Mulish', sans-serif;
    background-color: #181818;
    display: flex;
    flex-direction: column; /* Alinea el contenido de arriba a abajo */
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: flex-start; /* Alinea las cajas en una fila */
    max-width: 1200px;
    width: 100%;
}

.box {
    background-color: #AE946D;
    padding: 20px;
    border-radius: 10px;
    width: 30%; /* Cada caja ocupa el 30% de la fila */
    color: white;
    min-height: 400px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido hacia la parte superior */
    gap: 20px; /* Añade un pequeño espacio entre los elementos si es necesario */
}


form {
    display: flex;
    flex-direction: column;
}

input, textarea, select, button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

button {
    background-color: #181818;
    color: white;
}

button:hover {
    background-color: #333;
}

/* Estilos para los enlaces */
header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Espacio entre el header y las cajas */
    width: 100%;
}

.header-links {
    background-color: #AE946D;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.header-links:hover {
    background-color: #8E754A;
}
