body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #fff;
}

.header, .footer {
    background-color: #333;
    padding: 10px 20px;
    text-align: center;
}
/*Parte de arriba*/
.top-bar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #AE946D;
    
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #fff;
}
.carrito{
    filter: invert(100%);
    width: 45px;
    height: auto;
    position: absolute;
    top: 14px;
    cursor: pointer;
}

.search-cart input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search-cart a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}
header {
    text-align: center;
    padding: 50px 20px;
    background-color: #333;
    color: #fff;
}

header h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

.payment-methods {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.method {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.method:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.method img {
    max-width: 100px;
    margin-bottom: 20px;
}

.method h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #AE946D;
}

.method p {
    font-size: 1em;
    color: #666;
}

footer {
    background-color: #222;
    color: #ffffff;
    padding: 50px 20px;
    margin-top: 200px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.footer-column {
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.footer-column h3 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: #AE946D; /* Color dorado para resaltar los títulos */
}

.footer-column p,
.footer-column ul {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: center;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    
}

.footer-column ul li a:hover {
    color: #AE946D; /* Cambia el color al pasar el mouse */
}

.social-icons {
    display: flex;
    gap: 20px;
   justify-content: center;
}

.social-icons a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
    
}

.social-icons a img:hover {
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    border-top: 1px solid #333;
    padding-top: 20px;
}